In [2]:
from altitude_dept.func import load_data

new_df = load_data()

In [3]:
new_df

,insee_code,name,dep_code,dep_name,area_km2,mean_altitude_m
0,01001,L'Abergement-Clémenciat,01,Ain,16.0,242.0
1,01002,L'Abergement-de-Varey,01,Ain,9.0,483.0
2,01004,Ambérieu-en-Bugey,01,Ain,24.0,379.0
3,01005,Ambérieux-en-Dombes,01,Ain,16.0,290.0
4,01006,Ambléon,01,Ain,6.0,589.0
...,...,...,...,...,...,...
34930,97613,M'Tsangamouji,976,Mayotte,22.0,96.0
34931,97614,Ouangani,976,Mayotte,18.0,175.0
34932,97615,Pamandzi,976,Mayotte,4.0,52.0
34933,97616,Sada,976,Mayotte,11.0,130.0
34934,97617,Tsingoni,976,Mayotte,34.0,147.0